<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: green;color: white;">
        <h1>Datos</h1>
        <p>Nombre: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Edad: {{ user.age }} años</p>
        <p>Rol: {{ user.role }}</p>

        <button class="btn btn-danger my-5" onclick="location.href='/api/session/logout'">LOGOUT</button>
    </div>
</div>